[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
firebase-admin = "*"
python-dotenv = "*"
flask = "*"
flask-socketio = "*"
gevent = "*"
gevent-websocket = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
